
.vs/Sails_TOS/DesignTimeBuild/.dtbcache
.vs/Sails_TOS/v15/Server/sqlite3/storage.ide
.vs/Sails_TOS/v15/Server/sqlite3/storage.ide-shm
.vs/Sails_TOS/v15/.suo
.vs/Sails_TOS/v15/Server/sqlite3/storage.ide-wal
Sails_TOS/bin/Debug/Sails_TOS.exe
Sails_TOS/bin/Debug/Sails_TOS.pdb
